<html lang="en" data-bs-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>IronNotes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md bg-body-tertiary fixed-top" id="main-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">IronNotes</a>
        {{#if userDetails}}
        <p class="m-2"><a class="nav-link {{#unless userDetails}}disabled{{/unless}}" href="/auth/user-profile">Welcome
            {{userDetails.username}}!</a></p>
        {{/if}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-auto">
            <a class="nav-link {{#if userDetails}}active{{else}}disabled
        {{/if}} 
        " aria-current="page" href="/notes/list">My Notes</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{#unless userDetails}}disabled{{/unless}}" data-bs-toggle='dropdown'
                href="#" role="button" aria-haspopup="true" aria-expanded="false">Labels</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Label1</a>
                <a class="dropdown-item" href="#">Label2</a>
                <a class="dropdown-item" href="#">Label3</a>
              </div>
            </div>
            <a class="nav-link {{#unless userDetails}}disabled{{/unless}}" href="/notes/archive">Archive</a>
            <a class="nav-link {{#unless userDetails}}disabled{{/unless}}" href="/notes/trash">Trash</a>
            <a class="nav-link" href="
            {{#if userDetails}}
            /auth/logout
              {{else}}
              /auth/login
              {{/if}}">
              {{#if userDetails}}
              Log Out
              {{else}}
              Log In
              {{/if}}
            </a>

            <button class="btn btn-link nav-link" id="btnSwitch">
              <i class="fas fa-adjust"></i> <!-- Font Awesome adjust icon -->
            </button>
          </div>
          <form method="get" action="/notes/list?keyword=" class="d-flex" role="search">
            <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search" {{#unless
              userDetails}}readonly{{/unless}}>
            <button class="btn btn-outline-primary {{#unless userDetails}}disabled{{/unless}}"
              type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div id="main-container" class="container-fluid">
    {{!-- all the rest of the body goes here for styling purposes --}}
    {{{body}}}
  </div>

  <script src="/js/script.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/a0b304df1a.js" crossorigin="anonymous"></script>

  <script>
    function setBodyPaddingTopAndBottom() {
      const navbarHeight = document.getElementById('main-navbar').offsetHeight;
      const footerHeight = document.getElementById('footer').offsetHeight;
      document.body.style.paddingTop = navbarHeight + 10 + 'px';
      document.body.style.paddingBottom = footerHeight + 10 + 'px';

    }
    window.addEventListener('load', setBodyPaddingTopAndBottom);
    window.addEventListener('resize', setBodyPaddingTopAndBottom);
  </script>

  <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

  <script>
    document.getElementById('btnSwitch').addEventListener('click', () => {
      if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light')
      }
      else {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
      }
    })
  </script>
</body>

<!-- Footer-->
<div class="fixed-bottom py-3 bg-dark text-white" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center text-md-left">
        <p class="mb-md-0">(C) 2023 IronNotes - Fabio & Marco</p>
      </div>
      <div class="col-md-5 text-center text-md-right">
        <p class="mb-0"><a href="https://github.com/Iron-Notes/iron-notes-mvp" target="_blank"
            class="external text-white">Github Repo</a> </p>
      </div>
    </div>
  </div>
</div>

</html>